# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.zip
*.tar.gz
*.rar

# Individual Settings
/.idea/
*.iml
/.classpath
/.project
/.settings/
/target/
